.blogContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 55px;
    .blogContainerSection{
        width: 30%;
        display: flex;
        flex-direction: column;
    }
    .blogContainerSection.item{
        width: 30%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
    }
}
.borderCheckbox {
    display: flex;
    align-items: center;
}
.borderCheckbox:after {
    content: "";
    height: 22px;
    width: 1px;
    border-right: 1px solid rgba(80, 117, 155, 0.44);
}
.dropdown-check-list {
    display: none;
}
.blogContainerWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    .blogContainerSection.item{
        width: 30%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
    }
}
.dropdown-toggle {
    display: none;
}
.blogImg {
    position: relative;
    button {
        position: absolute;
        left: 20px;
        bottom: 20px;
        font-family: "ProximaNova-Semibold";
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #0D3155;
        padding: 12px 24px;
        background: #FFFFFF;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        border: none;
    }
    picture {
        img {
            max-width: 100%;
        }
    }
}
.blog-page-category {
    > p {
        font-family: "ProximaNova-Regular";
        font-size: 16px;
        line-height: 19px;
        color: #50759B;
        margin-bottom: 26px;
        margin-top: 60px;
    }
    .filterForm {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .filterFormContainer {
            position: relative;
            margin-bottom: 11px;
            label {
                display: flex;
                font-family: "ProximaNova-Semibold";
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase !important;
                color: #0D3155;
                width: max-content;
                margin-right: 11px;
                display: flex;
                align-items: center;
                padding: 12px 41px 12px 24px;
                background: #FFFFFF;
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
                border-radius: 5px;
                cursor: pointer;
                &::after {
                    content: "";
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    right: 20px;
                    top: 11px; 
                    border: 1px solid #007CF8;
                    box-shadow: 0px 3.2px 11.2px rgba(0, 0, 0, 0.05);
                    border-radius: 2.4px;  
                    background-color: #fff; 
                    z-index: 1;   
                }
            }
            input {     
                position: absolute;
                right: 20px;
                top: 13px;  
                &:checked {
                    background: #fff;
                   ~ label {
                        background: #007CF8;
                        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
                        border-radius: 5px;
                        color: #fff;
                        &::after {
                            background: url(../img/Line.svg), #fff;
                            background-repeat: no-repeat;
                            background-size: auto;
                            background-position: center;
                        }
                    }
                }
            }
        }
    }
}
.blog-page-category .filterForm .filterFormContainer:nth-of-type(2) label{
    margin-left: 11px;
}
.blog-page {
    .wrapper {
        h2 {
            font-size: 85px !important;
            line-height: 81px !important;
        }
    }
}
.blogContainerSection {
    p {
        margin: 39px 0 48px 0;
        padding: 0 10px;
        font-family: "ProximaNova-Semibold";
        font-size: 20px;
        line-height: 24px;
        color: #0D3155;
        text-align: left;
    }
    .blogDate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-family: "ProximaNova-Regular";
            font-size: 14px;
            line-height: 17px;
            color: #50759B;
        }
        a {
            font-family: "ProximaNova-Bold";
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #007CF8;
            text-decoration: none;
        }
    }
}
.blog {
    margin-bottom: 55px;
    .wrapper {
        text-align: left;
        button {
            display: block;
            margin: 50px auto 0 auto;
        }
    }
}
.dropdown-check-list {
    display: none;
}
/*----------------------------------------------------*/

  

@media(max-width: 1200px) {
.blogContainerSection {
    >p {
        min-height: 80px;
    }
}
.item {
    width: 45% !important;
}
}
@media(max-width: 992px) {
.blogContainer {
    flex-wrap: wrap;
    .blogContainerSection {
        width: 49%;
    }
}
}
@media (max-width: 768px) {
.item {
    width: 30% !important;
    min-width: 250px !important;
}
.dropdown-check-list {
    display: inline-block;
  }
  
.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 12px 101px 12px 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-family: "ProximaNova-Semibold";
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #0D3155;
    min-width: 202px;
}
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    background: url(../img/dropDown.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    right: 20px;
    top: 40%;
    bottom: 50%;
    width: 12px;
    height: 7px;
  }
  .filterFormContainer {
    border: 1px solid transparent !important;
    &:active {
        border: 1px solid #007CF8;
    }
  }
  .wrapper {
    width: 100%;
  }
.filterForm{
    flex-direction: column;
    align-items: flex-start !important;
    width: 100%;
}
.filterFormContainer {
    width: 100%;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    label {
        width: 100% !important;
        margin-right: 0 !important;
        border-radius: 5px !important;
    }
}
.wrapper {
    margin: 0;
}
form {
    padding: 0;
}
.mobile {
    display: none;
}
.borderCheckbox:after {
    content: none;
}
.dropdown-toggle {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    height: 41px;
    text-decoration: none;
    font-family: "ProximaNova-Semibold";
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #0D3155;
    padding-left: 24px;
    width: 100%;
    margin-bottom: 11px;
}
.select__title {
    font-family: "ProximaNova-Semibold";
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #0D3155;
    padding-left: 3px;
}
.dropdown-toggle {
    display: flex;
    align-items: center;
    padding-right: 20px;
    position: relative;
    &::after {
        content: "";
        background: url(../img/dropDown.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        right: 20px;
        top: 13px;
        width: 17px;
        height: 17px;
        transform: rotate(180deg);
    }
}
.dropdownArrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    &::after {
        content: "";
        background: url(../img/dropDown.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 17px;
        height: 17px;
        transform: rotate(0deg);
    }
}
}
@media(max-width: 576px) {
.blogContainer {
    flex-direction: column;
    margin-top: 35px;
    .blogContainerSection {
        width: 100%;
        margin-bottom: 25px;
    }
}
.blogContainerWrapper {
    padding: 0 16px;
}
.blogImg {
    picture {
        img {
            min-width: 100%;
        }
    }
}
.blogContainerSection {
    &>p {
        margin-bottom: 0;
        min-height: auto;
        margin: 26px 0;
        font-size: 18px;
    }
    .blogDate {
        p {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}
.blog {
    .wrapper {
        >button {
            width: 219px;
            height: 63px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
        }
        h2 {
            text-align: left;
            padding-left: 5px;
        }
    }
}
.blogImg {
    button {
        padding: 9px 17px !important;
        font-size: 10px;
        left: 10px;
        bottom: 10px;
    }
}
.item {
    width: 100% !important;
    min-width: 100% !important;
    margin-bottom: 25px;
    max-width: 100%;
}
.blogContainerSection > p {
    padding: 0;
}
.blogForm {
    padding-left: 32px !important;
    padding-right: 32px !important;
}
.blogContainerSection .blogDate p {
    padding: 0;
}
.blog .wrapper h2 {
    font-size: 52px !important;
}
.main {
    margin-top: 77px;
}
}
@media (max-width: 320px) {
    .dropdown-toggle {
        font-size: 12px;
    }
    .blog-page-category .filterForm .filterFormContainer label {
        font-size: 12px;
    }
}
