@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../fonts/ProximaNova-Regular.eot") format("eot"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/ProximaNova-Semibold.eot") format("eot"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("../fonts/ProximaNova-Bold.eot") format("eot"), url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.eot") format("eot"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robo.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: "ProximaNova-Semibold";
  font-size: 85px;
  line-height: 81px;
  color: #0D3155;
}

h2 {
  font-family: "ProximaNova-Semibold";
  font-size: 40px;
  line-height: 49px;
  color: #0D3155;
}

.main {
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 150px;
}

.wrapper {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}

.logo-text {
  font-family: "ProximaNova-Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.bodyActive {
  overflow: hidden;
}

.button {
  font-family: "ProximaNova-Bold";
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #007CF8;
  border-radius: 5px;
  border: none;
  padding: 22px 44px;
}

h1 {
  font-family: "ProximaNova-Semibold";
  font-size: 85px;
  line-height: 81px;
  color: #0D3155;
  margin-bottom: 45px;
}

* {
  box-sizing: border-box;
}

.reviews {
  margin-bottom: 157px;
}
.reviews .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviewsLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 25%;
  padding-right: 55px;
}
.reviewsLeft img {
  width: 120px;
  height: 115px;
}
.reviewsLeft img:nth-of-type(1) {
  margin-left: auto;
}
.reviewsLeft img:nth-of-type(2) {
  margin-right: auto;
}
.reviewsLeft img:nth-of-type(3) {
  margin-left: auto;
}

.reviewsCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 50%;
}

.mySlides {
  background: #FFFFFF;
  box-shadow: 0px 15.6948px 46.0849px rgba(215, 228, 249, 0.5);
  border-radius: 5.83721px;
  padding: 50px 72px 78px 72px;
  box-sizing: border-box;
  position: relative;
  width: 592px;
  height: 409px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.mySlides p {
  font-family: "ProximaNova-Regular";
  font-size: 18px;
  line-height: 181%;
  color: #0D3155;
}

.mySlides-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.mySlides-info p {
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  line-height: 181%;
  color: #0D3155;
  opacity: 0.5;
}

.mySlides-info-left p {
  font-size: 16px;
  line-height: 19px;
  color: #0D3155;
}
.mySlides-info-left p:nth-of-type(1) {
  font-family: "ProximaNova-Bold";
}
.mySlides-info-left p:nth-of-type(2) {
  font-family: "ProximaNova-Regular";
}

.reviewsRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 25%;
  padding-left: 35px;
}
.reviewsRight img {
  width: 120px;
  height: 115px;
}
.reviewsRight img:nth-of-type(1) {
  margin-right: auto;
}
.reviewsRight img:nth-of-type(2) {
  margin-left: auto;
}
.reviewsRight img:nth-of-type(3) {
  margin-right: auto;
}

.slideshow-container {
  position: relative;
  z-index: 2;
}
.slideshow-container::after {
  content: "";
  box-shadow: 0px 15.6948px 46.0849px rgba(215, 228, 249, 0.5);
  border-radius: 5.83721px;
  width: 546px;
  height: 356px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  background: white;
}
.slideshow-container::before {
  content: "";
  background: url(../../img/sliderIcon.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 148px;
  height: 148px;
  bottom: 0;
  left: -61px;
  z-index: -2;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  transition: 0.6s ease;
}
.prev:hover svg, .next:hover svg {
  width: 38px;
  height: 18px;
}
.prev:hover svg path, .next:hover svg path {
  opacity: 1;
}

.prev {
  margin-right: 20px;
}

.btnSlider {
  margin-left: auto;
  margin-right: 100px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  cursor: pointer;
  height: 4px;
  width: 4px;
  background-color: #EAEBEE;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 20px;
}

.dot-container {
  position: absolute;
  right: -20px;
  display: flex;
  flex-direction: column;
  top: 27%;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .mySlides {
    width: 400px;
  }
  .slideshow-container::after {
    width: 300px;
  }
}
@media (max-width: 992px) {
  .reviews .wrapper {
    flex-direction: column;
    height: auto;
  }
  .reviewsLeft {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 50px;
  }
  .reviewsLeft img {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .reviewsRight {
    width: 90%;
    flex-direction: row;
    margin-top: 50px;
  }
  .reviewsRight img {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .reviewsCenter {
    width: 100%;
  }
  .slideshow-container {
    width: 100%;
    padding-bottom: 30px;
  }
  .mySlides {
    width: 80%;
    margin: 0 auto;
  }
  .dot-container {
    right: 40px;
  }
}
@media (max-width: 768px) {
  .mySlides {
    width: 100%;
  }
  .dot-container {
    right: -20px;
  }
}
@media (max-width: 576px) {
  .reviews .wrapper {
    padding: 0;
    width: 100%;
    position: relative;
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }
  .reviewsCenter {
    width: 100%;
    padding: 0 16px;
  }
  .btnSlider {
    margin-left: auto;
    margin-right: auto;
  }
  .reviews {
    margin-bottom: 95px;
  }
  .dot-container {
    right: 0 !important;
  }
  .mySlides p {
    margin-bottom: 31px;
  }
  .mySlides-info-left p:nth-of-type(2) {
    margin-bottom: 0;
  }
  .slideshow-container::after {
    width: 80%;
  }
  .reviewsLeft {
    position: absolute;
    top: 75%;
    z-index: -1;
    width: 70%;
    height: 120px;
    left: auto;
  }
  .reviewsLeft img {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    max-width: 75%;
    width: 55px;
    height: 55px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .reviewsLeft img:nth-of-type(3) {
    display: none;
  }
  .reviewsRight {
    margin-top: 0;
    width: 100%;
    padding-left: 0;
    height: auto;
  }
  .reviewsRight img {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    max-width: 75%;
    width: 30%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .reviewsCenter {
    height: auto;
  }
  .reviewsRight {
    width: 100%;
    max-width: 100%;
  }
  .reviewsRight img {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .reviewsRight img:nth-of-type(1) {
    margin-top: 50px;
  }
  .reviewsRight img:nth-of-type(3) {
    margin-top: 50px;
  }
  .mySlides {
    padding: 35px 16px;
    height: 346px;
  }
  .mySlides p {
    font-size: 14px;
  }
  .slideshow-container::after {
    height: 200px;
    width: 80%;
    bottom: 10px;
  }
  .slideshow-container::before {
    content: none;
  }
}
.header {
  padding: 25px 39px;
  background: #0D3155;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  min-width: 100vw;
  z-index: 200;
}

.header-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  width: 1360px;
  margin: 0 auto;
}

.logo {
  margin-top: -5px;
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.logo a p {
  font-family: "ProximaNova-Semibold";
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-left: 10px;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.header-navigation li {
  margin-right: 23px;
}
.header-navigation li a {
  font-family: "Gilroy-Medium";
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-decoration: none;
}
.header-navigation li a::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: transparent;
  display: block;
  margin: 10px auto 0 auto;
}
.header-navigation li:nth-of-type(1) a {
  color: #007CF8;
}
.header-navigation li:nth-of-type(1) a::after {
  background: #007CF8;
}
.header-navigation li:nth-last-of-type(1) {
  margin-right: 0;
}

.burger-menu {
  display: none;
}

.menu {
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  z-index: 9999;
  display: none;
  top: 57px;
  left: 0;
  padding-top: 57px;
  padding-left: 16px;
  max-width: 100%;
  overflow: scroll;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.bar {
  transition: 0.4s;
  display: flex;
  flex-direction: column;
}
.bar span {
  height: 3px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.bar .bar-1 {
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 4px;
}
.bar .bar-2 {
  display: fixed;
  transition: 0.4s;
  margin-bottom: 4px;
}
.bar .bar-3 {
  display: block;
  transition: 0.4s;
}

.change .bar-1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar-2 {
  opacity: 0;
}

.change .bar-3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.burge-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.burge-navigation li {
  margin-bottom: 23px;
}
.burge-navigation li a {
  font-family: "ProximaNova-Semibold";
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0D3155;
}
.burge-navigation:nth-last-of-type(1) {
  margin-bottom: 0;
}
.burge-navigation:nth-of-type(1) {
  color: #007CF8;
}

.flex {
  display: flex;
  align-items: center;
}
.flex svg {
  margin-right: 13px;
}

.burge-navigation-contact {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 60px;
}
.burge-navigation-contact li {
  margin-bottom: 19px;
  display: flex;
  list-style: none;
}
.burge-navigation-contact li:nth-last-of-type(1) {
  margin-bottom: 0;
}
.burge-navigation-contact li svg {
  margin-right: 13px;
}
.burge-navigation-contact li a {
  font-family: "ProximaNova-Semibold";
  font-size: 14px;
  line-height: 17px;
  text-transform: lowercase;
  color: #0D3155;
  text-decoration: none;
}

.burge-navigation-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
.burge-navigation-icon li {
  background: #F4F9FE;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 34px;
}
.burge-navigation-icon li a {
  text-decoration: none;
}

.sectionTittle {
  margin-top: 44px;
  display: flex;
}

.sectionTittleLeft {
  padding-top: 64px;
}
.sectionTittleLeft p {
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  line-height: 145%;
  color: #0D3155;
  margin-bottom: 80px;
  width: 60%;
}

.sectionTittleRight {
  width: 60%;
}
.sectionTittleRight picture img {
  max-width: 100%;
  min-width: 100%;
}

.coursesContainer {
  background: #F4F9FE;
  border-radius: 10px;
  padding: 50px 116px 100px 116px;
  box-sizing: border-box;
  margin-bottom: 122px;
}
.coursesContainer .coursesSectionLeft {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.video {
  background: #F4F9FE;
  border-radius: 10px;
  padding: 50px 116px 100px 116px;
  box-sizing: border-box;
}

.videoContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.videoContainer div {
  background-color: red;
}

.coursesSectionLeftImg {
  position: relative;
}
.coursesSectionLeftImg button {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-family: "ProximaNova-Semibold";
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #0D3155;
  padding: 12px 24px;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: none;
}
.coursesSectionLeftImg picture img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.coursesSection {
  display: flex;
  width: 100%;
}

.coursesSection {
  width: 100%;
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
  margin: 55px auto 0 auto;
}

.coursesSectionLeftImgText {
  margin-top: 45px;
}
.coursesSectionLeftImgText p {
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  line-height: 145%;
  color: #0D3155;
  margin-bottom: 55px;
  width: 85%;
}

h6 {
  font-family: "ProximaNova-Semibold";
  font-size: 20px;
  line-height: 24px;
  color: #0D3155;
  margin-bottom: 30px;
  width: 70%;
}

.btnDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.btnDate p {
  font-family: "ProximaNova-Regular";
  font-size: 18px;
  line-height: 22px;
  color: #0D3155;
  display: flex;
  margin-bottom: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.blogContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}
.blogContainer .blogContainerSection {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.blogImg {
  position: relative;
}
.blogImg button {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-family: "ProximaNova-Semibold";
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #0D3155;
  padding: 12px 24px;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: none;
}

.blogContainerSection p {
  margin: 39px 0 48px 0;
  padding: 0 10px;
  font-family: "ProximaNova-Semibold";
  font-size: 20px;
  line-height: 24px;
  color: #0D3155;
  text-align: left;
}
.blogContainerSection .blogDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogContainerSection .blogDate p {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  color: #50759B;
}
.blogContainerSection .blogDate a {
  font-family: "ProximaNova-Bold";
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #007CF8;
  text-decoration: none;
}

.blog {
  margin-bottom: 55px;
}
.blog .wrapper {
  text-align: center;
}
.blog .wrapper button {
  margin-top: 50px;
}

.blogImg picture img {
  max-width: 100%;
}

.videoContainer {
  max-width: 1129px;
  min-width: 1129px;
  height: 472px;
}
.videoContainer .videoContainer-content {
  width: 553px;
  margin-right: 23px;
}
.videoContainer .videoContainer-content img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.videoContainer .videoContainer-content img .video-text {
  position: absolute;
}

.question {
  margin-top: 113px;
}
.question .wrapper {
  max-width: 1129px;
  margin: 0 auto;
}

.accordion {
  width: 100%;
  cursor: pointer;
}

h3 {
  font-family: "ProximaNova-Regular";
  font-size: 24px;
  line-height: 29px;
  color: #0D3155;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 26px 23px 40px 23px;
  box-sizing: border-box;
  border-bottom: 1px solid #D0DBE7;
}

.accordion i {
  color: #007CF8;
  font-size: 16px;
}

h3:active {
  color: #007CF8;
}

.content {
  padding: 0 23px;
  font-family: "ProximaNova-Regular";
  font-size: 16px;
  line-height: 181%;
  color: #0D3155;
  display: none;
}

.mainAccordion {
  max-width: 1129px;
  width: 100%;
  margin: 0 auto;
}

.color-tittle {
  border-bottom: 1px solid transparent;
  color: #007CF8;
}

.question {
  margin-bottom: 100px;
}
.question .wrapper h2 {
  text-align: center;
  margin-bottom: 97px;
}

.form {
  width: 100%;
  background: #F4F9FE;
  padding: 54px 155px 54px 155px;
}
.form .wrapper {
  max-width: 1129px;
  margin: 0 auto;
}
.form .wrapper h2 {
  font-family: "ProximaNova-Semibold";
  font-size: 24px;
  line-height: 29px;
  color: #0D3155;
}
.form .wrapper form {
  margin-top: 23px;
  display: flex;
  position: relative;
  align-items: flex-end !important;
}
.form .wrapper form label {
  font-family: "ProximaNova-Regular";
  display: flex;
  flex-direction: column;
  width: 438px;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #50759B;
}
.form .wrapper form label input {
  width: 100%;
  margin-top: 16px;
  background: #FFFFFF;
  border: 1px solid #E7EAED;
  border-radius: 5px;
  height: 63px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-align: left;
}
.form .wrapper form label input::-moz-placeholder {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #50759B;
}
.form .wrapper form label input:-ms-input-placeholder {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #50759B;
}
.form .wrapper form label input::placeholder {
  font-family: "ProximaNova-Regular";
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #50759B;
}
.form .wrapper form label:nth-of-type(2) {
  margin: 0 24px 0 24px;
}
.form .wrapper form input {
  background: #007CF8;
  border-radius: 5px;
  height: 63px;
  display: flex;
  align-items: center;
  width: 207px;
  font-family: "ProximaNova-Bold";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  justify-content: center;
  border: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form .wrapper form::after {
  content: "";
  background: url(../../img/sliderIcon.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  position: absolute;
  right: -10%;
  top: -175%;
}

.mySlides-info-left p:nth-of-type(1) {
  margin-bottom: 10px;
}

footer {
  background: #0D3155;
  padding: 160px 0 54px 0;
  display: flex;
  align-items: center;
  position: relative;
}
footer .wrapper {
  width: 825px;
  margin: 0 auto;
}
footer::after {
  content: "";
  background: url(../../img/sliderIcon.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 150px;
  height: 60px;
  position: absolute;
  z-index: 1;
  top: -12%;
  left: -5%;
}

.logo-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 62px;
}
.logo-footer p {
  font-family: "ProximaNova-Semibold";
  font-size: 23px;
  line-height: 28px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-left: 16px;
}
.logo-footer a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 77px;
}
.footer-navigation li a {
  font-family: "ProximaNova-Semibold";
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-navigation li a::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: transparent;
  display: block;
  margin: 10px auto 0 auto;
}
.footer-navigation li:nth-of-type(1) a {
  color: #007CF8;
}
.footer-navigation li:nth-of-type(1) a::after {
  background: #007CF8;
}
.footer-navigation li:nth-last-of-type(1) {
  margin-right: 0;
}

.footer-contact {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.footer-contact li {
  display: flex;
  align-items: center;
}
.footer-contact li a {
  font-family: "ProximaNova-Semibold";
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  color: #FFFFFF;
  text-decoration: none;
}
.footer-contact li svg {
  margin-right: 9px;
}
.footer-contact li:nth-of-type(1) {
  margin-right: 42px;
}

footer .wrapper .burge-navigation-icon {
  width: 100%;
  justify-content: center;
  margin-bottom: 57px;
}
footer .wrapper .burge-navigation-icon li {
  margin-right: 20px;
}

.reviewsCenter h2 {
  margin-bottom: 43px;
}

.footer-container {
  text-align: center;
  font-family: "ProximaNova-Semibold";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
}
.footer-container p {
  opacity: 0.4;
  text-transform: capitalize !important;
}
.footer-container p a {
  color: #FFFFFF;
  opacity: 0.4;
}
.footer-container p:nth-of-type(1) {
  margin-bottom: 27px;
}
.footer-container p:nth-of-type(2) a {
  opacity: 1 !important;
  color: #fff;
}

@media (max-width: 1440px) {
  .main {
    max-width: 1130px;
  }
  .wrapper {
    width: 90%;
  }
  .coursesContainer {
    padding: 50px 0 100px 0;
  }
}
@media (max-width: 1200px) {
  .main {
    max-width: 100%;
    padding: 0 50px;
  }
  .wrapper {
    width: 90%;
  }
  .form .wrapper form::after {
    right: 0;
  }
  .form {
    padding: 54px 50px;
  }
  .reviews .wrapper {
    padding: 0;
  }
  .slideshow-container {
    width: 100%;
  }
  .slideshow-container .mySlides {
    width: 100%;
  }
  .slideshow-container::after {
    width: 90%;
  }
  .mySlides {
    padding-left: 32px;
    padding-right: 32px;
  }
  .mainAccordion {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
  .sectionTittleLeft {
    padding-top: 0;
  }
  .btnDate {
    width: 90%;
  }
  .blogContainerSection > p {
    min-height: 80px;
  }
  .sectionTittle {
    width: 100%;
  }
  .sectionTittle .sectionTittleLeft {
    width: 50%;
    margin-bottom: 30px;
  }
  .sectionTittle .sectionTittleRight {
    width: 50%;
  }
  .sectionTittle .sectionTittleRight picture img {
    max-width: 100%;
    width: 100%;
  }
  h2 {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .main {
    max-width: 100%;
    padding: 0 25px;
  }
  .wrapper {
    width: 90%;
  }
  .slideshow-container .mySlides {
    width: 90%;
  }
  .footer-navigation {
    flex-direction: column;
  }
  .footer-navigation li {
    margin-bottom: 23px;
  }
  .dot-container {
    right: 15px;
  }
  .header {
    padding: 25px;
  }
  .header .header-content {
    flex-direction: column;
    align-items: center;
  }
  .header .header-content .logo {
    margin-bottom: 20px;
  }
  .header .header-content .logo a p {
    font-size: 20px;
  }
  .header .header-content .header-navigation li {
    margin-right: 16px;
  }
  .header .header-content .header-navigation li a {
    font-size: 14px;
  }
  h1 {
    font-size: 70px;
    line-height: 100%;
  }
  .sectionTittleRight picture img {
    max-width: auto;
    min-width: auto;
  }
  .sectionTittle {
    justify-content: space-between;
    align-items: flex-end;
  }
  .btnDate {
    flex-direction: column-reverse;
  }
  .btnDate .button {
    margin-top: 16px;
  }
  .blogContainer {
    flex-wrap: wrap;
  }
  .blogContainer .blogContainerSection {
    width: 49%;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 25px 16px;
  }
  .header .header-content {
    flex-direction: row;
  }
  .header .header-content .header-navigation {
    display: none;
  }
  .header .header-content .logo {
    margin-bottom: 0;
  }
  .header .header-content .burger-menu {
    display: block;
  }
  .form {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .form .wrapper form {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .form .wrapper form label {
    width: 100%;
  }
  .form .wrapper form label:nth-of-type(2) {
    margin: 26px 0;
  }
  .form .wrapper form:after {
    top: -70%;
  }
  .footer-navigation {
    flex-direction: column;
  }
  .main {
    padding: 0 16px 0 16px;
  }
  h1 {
    position: absolute;
    top: 0;
    font-size: 55px;
  }
  .sectionTittle {
    position: relative;
    padding-top: 170px;
    align-items: flex-start;
  }
  .sectionTittleLeft p {
    width: 100%;
    margin-bottom: 30px;
  }
  .coursesContainer {
    padding-bottom: 50px;
  }
  .coursesSection {
    flex-direction: column;
  }
  .coursesSection .coursesSectionLeft,
.coursesSection .coursesSectionRight {
    width: 100%;
    margin-bottom: 50px;
  }
  .coursesSectionLeftImg picture img {
    min-width: 100%;
  }
  .coursesSectionLeftImgText {
    align-items: center;
    text-align: center;
  }
  .coursesSectionLeftImgText h6 {
    width: 100%;
  }
  .coursesSectionLeftImgText p {
    width: 100%;
  }
  .coursesSectionLeftImgText .btnDate {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 0 16px;
    height: 57px;
    display: flex;
    align-items: center;
  }
  .header .header-content .logo a p {
    font-size: 14px;
  }
  form {
    padding: 75px 32px 45px 32px;
  }
  .reviewsCenter h2 {
    margin-bottom: 35px;
  }
  .footer-contact li:nth-of-type(1) {
    margin-right: 0;
  }
  .footer-contact {
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
  }
  .footer-contact li:nth-of-type(1) {
    margin-bottom: 46px;
  }
  .logo-footer {
    margin-bottom: 45px;
  }
  .mySlides {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 25px;
    height: 400px;
  }
  footer::after {
    content: none;
  }
  .form {
    overflow: hidden;
  }
  .form .wrapper form {
    padding: 0;
  }
  .form .wrapper form:after {
    top: -70%;
    right: -20%;
    height: 90px;
    width: 90px;
    z-index: 5;
  }
  .form .wrapper form input {
    margin-left: auto;
    margin-right: auto;
  }
  .sectionTittle {
    flex-direction: column;
    padding-top: 0;
    margin-top: 60px;
    align-items: center;
  }
  .sectionTittle .sectionTittleLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 77px;
  }
  .sectionTittle .sectionTittleLeft p {
    font-size: 14px;
    margin-bottom: 45px;
  }
  .footer-navigation li a {
    font-size: 14px;
  }
  .footer-navigation {
    margin-bottom: 45px;
  }
  .footer-navigation li a {
    font-size: 14px;
  }
  .footer-container p {
    font-size: 12px;
  }
  h1 {
    position: static;
    font-size: 54px;
  }
  footer .wrapper {
    width: 100%;
  }
  .blogContainer {
    flex-direction: column;
    margin-top: 35px;
  }
  .blogContainer .blogContainerSection {
    width: 100%;
    margin-bottom: 25px;
  }
  .coursesContainer {
    margin-bottom: 45px;
  }
  .blogImg picture img {
    min-width: 100%;
  }
  .blogContainerSection > p {
    margin-bottom: 0;
    min-height: auto;
    margin: 26px 0;
    font-size: 18px;
  }
  .blogContainerSection .blogDate p {
    margin-bottom: 0;
    margin-top: 0;
  }
  .question {
    margin: 45px 0 115px 0;
  }
  h2 {
    font-size: 32px;
  }
  .question .wrapper h2 {
    margin-bottom: 19px;
  }
  h3 {
    font-size: 18px;
    padding: 26px 0;
  }
  .content {
    padding: 0;
  }
  .accordion i {
    margin-left: 15px;
  }
  .fa-plus:before {
    font-size: 12px;
  }
  .burge-navigation-icon {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */