footer {
    background: #0D3155;
    padding: 160px 0 54px 0;
    display: flex;
    align-items: center;
    position: relative;
    .wrapper {
        width: 825px;
        margin: 0 auto;
    }
    &::after {
        content: "";
        background: url(../img/sliderIcon.png);
        background-repeat: no-repeat;
        background-size: auto;
        width: 150px;
        height: 60px;
        position: absolute;
        z-index: 1;
        top: -12%;
        left: -5%;
    }
}
.logo-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 62px;
    p {
        font-family: "ProximaNova-Semibold";
        font-size: 23px;
        line-height: 28px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-left: 16px;
    }
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }
}
.footer-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 77px;
    li {
        a {
            font-family: "ProximaNova-Semibold";
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none;
            &::after {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: transparent;
                display: block;
                margin: 10px auto 0 auto;
                
            }
        }
          &:nth-of-type(1) {
            a {
                color: #007CF8;
                &::after {
                    background: #007CF8;
                }
            }
        }
        &:nth-last-of-type(1) {
            margin-right: 0;
        }
    }
}
.footer-contact {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    li {
        display: flex;
        align-items: center;
        a {
            font-family: "ProximaNova-Semibold";
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            text-transform: lowercase;
            color: #FFFFFF;
            text-decoration: none;
        }
        svg {
            margin-right: 9px;
        }
        &:nth-of-type(1) {
            margin-right: 42px;
        }
    }
}
footer {
    .wrapper {
        .burge-navigation-icon {
            width: 100%;
            justify-content: center;
            margin-bottom: 57px;
            li {
                margin-right: 20px;
            }
        }
    }
}
.footer-container {
    text-align: center;
    font-family: "ProximaNova-Semibold";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
    p {
        opacity: 0.4;
        text-transform: capitalize !important;
        a {
            color: #FFFFFF;
            opacity: 0.4;
        }
        &:nth-of-type(1) {
            margin-bottom: 27px;
        }
        &:nth-of-type(2) {
            a {
                opacity: 1 !important;
                color: #fff;
            }
        }
    }
}
@media(max-width: 992px) {
.footer-navigation {
    flex-direction: column;
        li {
        margin-bottom: 23px;
        }
}
}
@media (max-width: 768px) {
.footer-navigation {
    flex-direction: column;
}
}
@media(max-width: 576px) {
.footer-contact  {
    li {
        &:nth-of-type(1) {
            margin-right: 0;
        }
    }
}
.footer-contact {
    flex-direction: column;
    align-items:center;
    margin-bottom: 45px;
    li {
        &:nth-of-type(1) {
                margin-bottom: 46px;
            }
        }
}
.logo-footer {
    margin-bottom: 45px;
}
footer {
    &::after {
        content: none;
    }
}
.footer-navigation  {
    li {
        a {
            font-size: 14px;
        }
    }
}
.footer-navigation {
    margin-bottom: 45px;
    li {
        a {
            font-size: 14px;
        }
    }
}
.footer-container {
    p {
        font-size: 12px;
    }
}
footer  {
    .wrapper {
        width: 100%;
    }
}
.burge-navigation-icon {
    width: 90%;
}
}