.header {
    padding: 25px 39px;
    background:#0D3155;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    min-width: 100vw;
    z-index: 200;
}
.header-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
    width: 1360px;
    margin: 0 auto;
}
.logo {
    margin-top: -5px;
    a {
        @include textCenter;
        text-decoration: none;
        p {
            font-family: "ProximaNova-Semibold";
            font-size: 14px;
            line-height: 17px;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-left: 10px;
        }
    }
}
.header-navigation {
    display: flex;
    align-items: center;
    li {
        margin-right: 23px;
        a {
            font-family: "Gilroy-Medium";
            font-size: 15px;
            line-height: 18px;
            text-transform: capitalize;
            color: #FFFFFF;
            text-decoration: none;
            &::after {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: transparent;
                display: block;
                margin: 10px auto 0 auto;
                
            }
        }
        &:nth-of-type(1) {
            a {
                color: #007CF8;
                &::after {
                    background: #007CF8;
                }
            }
        }
        &:nth-last-of-type(1) {
            margin-right: 0;
        }
    }
}
.burger-menu {
    display: none;
}
.menu {
    height:100%;
    width:100%;
    background: #FFFFFF;;
    position: fixed;
    z-index:9999;
    display:none;
    top: 57px;
    left: 0;
    padding-top: 57px;
    padding-left: 16px;
    max-width: 100%;
    overflow: scroll;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.bar {
    transition:0.4s;
    display: flex;
    flex-direction: column;
    span {
        height: 3px;
        width: max-content;
    }
    .bar-1 {
        cursor:pointer;
        transition:0.4s;
        margin-bottom: 4px;
    }
    .bar-2 {     
        display:fixed;
        transition:0.4s;
        margin-bottom: 4px;
    }
    .bar-3 { 
        display: block; 
        transition:0.4s; 
    }
      
}
.change .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px)
}
.change .bar-2 {
    opacity:0;
}
.change .bar-3 {
    -webkit-transform: rotate(45deg) translate(-5px, 5px);
    transform: rotate(45deg) translate(-5px, -5px);
}
.burge-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    li {
        margin-bottom: 23px;
        a {
            font-family: "ProximaNova-Semibold";
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            text-decoration: none;
            color: #0D3155;
        }
    }
    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }
    &:nth-of-type(1) {
        color: #007CF8;
    }
}
.flex {
    display: flex;
    align-items: center;
    svg {
        margin-right: 13px;
    }
}
.burge-navigation-contact {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 60px;
    li {
        margin-bottom: 19px;
        display: flex;
        list-style: none;
        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
        svg {
            margin-right: 13px;
        }
        a {
            font-family: "ProximaNova-Semibold";
            font-size: 14px;
            line-height: 17px;
            text-transform: lowercase;
            color: #0D3155;
            text-decoration: none;
        }
    }
}
.burge-navigation-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    li {
        background: #F4F9FE;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 34px;
        a {
            text-decoration: none;
        }
    }
}
.sectionTittle {
    margin-top: 44px;
    display: flex;
}
.sectionTittleLeft {
    padding-top: 64px;
    p {
        font-family: "ProximaNova-Regular";
        font-size: 16px;
        line-height: 145%;
        color: #0D3155;
        margin-bottom: 80px;
        width: 60%;
    }
}
.sectionTittleRight {
    width: 60%;
    picture {
        img {
            max-width: 100%;
            min-width: 100%;
        }
    }
}
.coursesContainer {
        background: #F4F9FE;
        border-radius: 10px;
        padding: 50px 116px 100px 116px;
        box-sizing: border-box;
        margin-bottom: 122px;
    .coursesSectionLeft {
        display: flex;
        flex-direction: column;
        width: 49%;
    }
}
.video {
    background: #F4F9FE;
    border-radius: 10px;
    padding: 50px 116px 100px 116px;
    box-sizing: border-box;
}
.videoContainer {
    width: 100%;
    height: 200px;
    overflow: hidden;
    div {
       background-color: red;
    }
}
.coursesSectionLeftImg {
    position: relative;
    button {
        position: absolute;
        left: 20px;
        bottom: 20px;
        font-family: "ProximaNova-Semibold";
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #0D3155;
        padding: 12px 24px;
        background: #FFFFFF;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        border: none;
    }
    picture {
        img {
            max-width: 100%;
            object-fit: cover;
        }
    }
}
.coursesSection {
    display: flex;
    width: 100%;
}
.coursesSection {
    width: 100%;
    display: flex;
    margin-top: 55px;
    justify-content: space-between;
    margin: 55px auto 0 auto;
}
.coursesSectionLeftImgText {
    margin-top: 45px;
    p {
        font-family: "ProximaNova-Regular";
        font-size: 16px;
        line-height: 145%;
        color: #0D3155;
        margin-bottom: 55px;
        width: 85%;
    }
}
h6 {
    font-family: "ProximaNova-Semibold";
    font-size: 20px;
    line-height: 24px;
    color: #0D3155;
    margin-bottom: 30px;
    width: 70%;
}
.btnDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    p {
        font-family: "ProximaNova-Regular";
        font-size: 18px;
        line-height: 22px;
        color: #0D3155;
        display: flex;
        margin-bottom: 0;
        width: max-content;
    }
}
.blogContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    .blogContainerSection {
        width: 30%;
        display: flex;
        flex-direction: column;
    }
}
.blogImg {
    position: relative;
    button {
        position: absolute;
        left: 20px;
        bottom: 20px;
        font-family: "ProximaNova-Semibold";
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #0D3155;
        padding: 12px 24px;
        background: #FFFFFF;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        border: none; 
    }
}
.blogContainerSection {
    p {
        margin: 39px 0 48px 0;
        padding: 0 10px;
        font-family: "ProximaNova-Semibold";
        font-size: 20px;
        line-height: 24px;
        color: #0D3155;
        text-align: left;
    }
    .blogDate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-family: "ProximaNova-Regular";
            font-size: 14px;
            line-height: 17px;
            color: #50759B;
        }
        a {
            font-family: "ProximaNova-Bold";
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #007CF8;
            text-decoration: none;
        }
    }
}
.blog {
    margin-bottom: 55px;
    .wrapper {
      text-align: center;
      button {
        margin-top: 50px;
      } 
    }
}
.blogImg {
    picture {
        img {
            max-width: 100%;
        }
    }
}


.videoContainer {
    max-width: 1129px;
    min-width: 1129px;
    height: 472px;
    .videoContainer-content {
        width: 553px;
        margin-right: 23px;
        img {
            max-width: 100%;
            object-fit: cover;
            position: relative;
            .video-text {
                position: absolute;
            }
        }
    }
}
.question {
    margin-top: 113px;
    .wrapper {
        max-width: 1129px;
        margin: 0 auto;
    }
}
.accordion{
    width: 100%;
    cursor: pointer;
}

h3{
    font-family: "ProximaNova-Regular";
    font-size: 24px;
    line-height: 29px;
    color: #0D3155;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 26px 23px 40px 23px;
    box-sizing: border-box;
    border-bottom: 1px solid #D0DBE7;
}
 .accordion i{
    color: #007CF8;
    font-size: 16px;
}
h3 {
    &:active {
        color: #007CF8;
    }
}
.content{
    padding: 0 23px;
    font-family: "ProximaNova-Regular";
    font-size: 16px;
    line-height: 181%;
    color: #0D3155;
    display: none;
}
.mainAccordion {
    max-width: 1129px;
    width: 100%;
    margin: 0 auto;
}
.color-tittle {
    border-bottom: 1px solid transparent;
    color: #007CF8;
}
.question {
    margin-bottom: 100px;
    .wrapper {
        h2 {
            text-align: center;
            margin-bottom: 97px;
        }
    }
}
.form {
    width: 100%;
    background: #F4F9FE;
    padding: 54px 155px 54px 155px;
    .wrapper {
        max-width: 1129px;
        margin: 0 auto;
        h2 {
            font-family: "ProximaNova-Semibold";
            font-size: 24px;
            line-height: 29px;
            color: #0D3155;            
        }
        form {
            margin-top: 23px;
            display: flex;
            position: relative;
            align-items: flex-end !important;
            label {
                font-family: "ProximaNova-Regular";
                display: flex;
                flex-direction: column;
                width: 438px;
                font-size: 14px;
                line-height: 17px;
                text-transform: capitalize;
                color: #50759B;
                input {
                width: 100%;
                margin-top: 16px;
                background: #FFFFFF;
                border: 1px solid #E7EAED;
                border-radius: 5px;
                height: 63px;
                padding-left: 16px;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                text-align: left;
                &::placeholder {
                    font-family: "ProximaNova-Regular";
                    font-size: 14px;
                    line-height: 17px;
                    text-transform: capitalize;
                    color: #50759B;
                    }
                }
                &:nth-of-type(2) {
                    margin: 0 24px 0 24px;
                }
            }
            input {
                background: #007CF8;
                border-radius: 5px;
                height: 63px;
                display: flex;
                align-items: center;
                width: 207px;
                font-family: "ProximaNova-Bold";
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                justify-content: center;
                border: none;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            &::after {
                content: "";
                background: url(../../img/sliderIcon.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 150px;
                height: 150px;
                position: absolute;
                right: -10%;
                top: -175%;
            }
        }
    }
}
.mySlides-info-left p:nth-of-type(1) {
    margin-bottom: 10px;
}
footer {
    background: #0D3155;
    padding: 160px 0 54px 0;
    display: flex;
    align-items: center;
    position: relative;
    .wrapper {
        width: 825px;
        margin: 0 auto;
    }
    &::after {
        content: "";
        background: url(../../img/sliderIcon.png);
        background-repeat: no-repeat;
        background-size: auto;
        width: 150px;
        height: 60px;
        position: absolute;
        z-index: 1;
        top: -12%;
        left: -5%;
    }
}
.logo-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 62px;
    p {
        font-family: "ProximaNova-Semibold";
        font-size: 23px;
        line-height: 28px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-left: 16px;
    }
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }
}
.footer-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 77px;
    li {
        a {
            font-family: "ProximaNova-Semibold";
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none;
            &::after {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: transparent;
                display: block;
                margin: 10px auto 0 auto;
                
            }
        }
          &:nth-of-type(1) {
            a {
                color: #007CF8;
                &::after {
                    background: #007CF8;
                }
            }
        }
        &:nth-last-of-type(1) {
            margin-right: 0;
        }
    }
}
.footer-contact {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    li {
        display: flex;
        align-items: center;
        a {
            font-family: "ProximaNova-Semibold";
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            text-transform: lowercase;
            color: #FFFFFF;
            text-decoration: none;
        }
        svg {
            margin-right: 9px;
        }
        &:nth-of-type(1) {
            margin-right: 42px;
        }
    }
}
footer {
    .wrapper {
        .burge-navigation-icon {
            width: 100%;
            justify-content: center;
            margin-bottom: 57px;
            li {
                margin-right: 20px;
            }
        }
    }
}
.reviewsCenter {
    h2 {
        margin-bottom: 43px;
    }
}
.footer-container {
    text-align: center;
    font-family: "ProximaNova-Semibold";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
    p {
        opacity: 0.4;
        text-transform: capitalize !important;
        a {
            color: #FFFFFF;
            opacity: 0.4;
        }
        &:nth-of-type(1) {
            margin-bottom: 27px;
        }
        &:nth-of-type(2) {
            a {
                opacity: 1 !important;
                color: #fff;
            }
        }
    }
}
@media (max-width:1440px) {
.main {
    max-width: 1130px;
}
.wrapper {
    width: 90%;
}
.coursesContainer {
    padding: 50px 0 100px 0;
}
}
@media (max-width: 1200px) {
.main {
    max-width: 100%;
    padding: 0 50px;
}
.wrapper {
    width: 90%;
}
.form  {
    .wrapper  {
        form {
            &::after {
                right: 0;
            }
        }
    }

}
.form {
    padding: 54px 50px;
}
.reviews {
    .wrapper {
        padding: 0;
    }
}
.slideshow-container {
    width: 100%;
    .mySlides {
        width: 100%;
    }
}
.slideshow-container {
    &::after {
        width: 90%;
    }
}
.mySlides {
    padding-left: 32px;
    padding-right: 32px;
}
.mainAccordion {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.sectionTittleLeft {
    padding-top: 0;
}
.btnDate {
    width: 90%;
}
.blogContainerSection {
    > p {
        min-height: 80px;
    }
}
.sectionTittle {
    width: 100%;
    .sectionTittleLeft  {
        width: 50%;
        margin-bottom: 30px;
    }
    .sectionTittleRight {
        width: 50%;
        picture  {
            img {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}
h2 {
    text-align: center;
}
}
@media(max-width: 992px) {
.main {
    max-width: 100%;
    padding: 0 25px;
}
.wrapper {
    width: 90%;
}
.slideshow-container  {
    .mySlides {
        width: 90%;
    }
}
.footer-navigation {
    flex-direction: column;
    li {
        margin-bottom: 23px;
    }
}
.dot-container {
    right: 15px;
}
.header {
    padding: 25px;
    .header-content {
        flex-direction: column;
        align-items: center;
        .logo {
            margin-bottom: 20px;
            a {
                p {
                    font-size: 20px;
                }
            }
        }
        .header-navigation  {
            li {
                margin-right: 16px;
                a {
                    font-size: 14px;
                }
            }
        }
    }
}
h1 {
    font-size: 70px;
    line-height: 100%;
}
.sectionTittleRight {
    picture  {
        img {
            max-width: auto;
            min-width: auto;
        }
    }
}
.sectionTittle {
    justify-content: space-between;
    align-items: flex-end;
}
.btnDate {
    flex-direction: column-reverse;
    .button {
        margin-top: 16px;
    }
}
.blogContainer {
    flex-wrap: wrap;
    .blogContainerSection {
        width: 49%;
    }
}
}
@media(max-width: 768px) {
.header {
    padding: 25px 16px;
    .header-content {
        flex-direction: row;
        .header-navigation {
            display: none;
        }
        .logo {
            margin-bottom: 0;
        }
        .burger-menu {
            display: block;
        }
    }
}
.form  {
    padding-left: 16px !important;
    padding-right: 16px !important;
    .wrapper  {
        form {
            flex-direction: column;
            width: 100%;
            align-items: center;
            label {
                width: 100%;
                &:nth-of-type(2) {
                    margin: 26px 0;
                }
            }
            &:after {
                top: -70%;
            }
        }
    }
}
.footer-navigation {
    flex-direction: column;
}
.main {
    padding: 0 16px 0 16px;
}
h1 {
    position: absolute;
    top: 0;
    font-size: 55px;
}
.sectionTittle {
    position: relative;
    padding-top: 170px;
    align-items: flex-start;
}
.sectionTittleLeft  {
    p {
        width: 100%;
        margin-bottom: 30px;
    }
}
.coursesContainer {
    padding-bottom: 50px;
}
.coursesSection {
    flex-direction: column;
    .coursesSectionLeft,
    .coursesSectionRight {
        width: 100%;
        margin-bottom: 50px;
    }
}
.coursesSectionLeftImg  {
    picture  {
        img {
            min-width: 100%;
        }
    }
}
.coursesSectionLeftImgText {
    align-items: center;
    text-align: center;
    h6 {
        width: 100%;
    }
    p {
        width: 100%;
    }
    .btnDate {
        width: 100%;
    }
}
}
@media(max-width: 576px) {
.header {
    padding: 0 16px;
    height: 57px;
    display: flex;
    align-items: center;
    .header-content  {
        .logo  {
            a  {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}
form {
    padding: 75px 32px 45px 32px;
}
.reviewsCenter {
    h2 {
        margin-bottom: 35px;
    }
}
.footer-contact  {
    li {
        &:nth-of-type(1) {
            margin-right: 0;
        }
    }
}
.footer-contact {
    flex-direction: column;
    align-items:center;
    margin-bottom: 45px;
    li {
        &:nth-of-type(1) {
            margin-bottom: 46px;
        }
    }
}
.logo-footer {
    margin-bottom: 45px;
}
.mySlides {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 25px;
    height: 400px;
}
footer {
    &::after {
        content: none;
    }
}
.form  {
        overflow: hidden;
    .wrapper  {
        form {
            padding: 0;
            &:after {
                top: -70%;
                right: -20%;
                height: 90px;
                width: 90px;
                z-index: 5;
            }
            input {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
.sectionTittle {
    flex-direction: column;
    padding-top: 0;
    margin-top: 60px;
    align-items: center;
    .sectionTittleLeft {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 77px;
        p {
            font-size: 14px;
            margin-bottom: 45px;
        }
    }
}
.footer-navigation  {
    li {
        a {
            font-size: 14px;
        }
    }
}
.footer-navigation {
    margin-bottom: 45px;
    li {
        a {
            font-size: 14px;
        }
    }
}
.footer-container {
    p {
        font-size: 12px;
    }
}
h1 {
    position: static;
    font-size: 54px;
}
footer  {
    .wrapper {
        width: 100%;
    }
}
.blogContainer {
    flex-direction: column;
    margin-top: 35px;
    .blogContainerSection {
        width: 100%;
        margin-bottom: 25px;
    }
}
.coursesContainer {
    margin-bottom: 45px;
}
.blogImg {
    picture {
        img {
            min-width: 100%;
        }
    }
}
.blogContainerSection  {
    & > p {
        margin-bottom: 0;
        min-height: auto;
        margin: 26px 0;
        font-size: 18px;
    }
    .blogDate  {
        p {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}
.question {
    margin: 45px 0 115px 0;
}
h2 {
    font-size: 32px;
}
.question  {
    .wrapper {
        h2 {
            margin-bottom: 19px;
        }
    }
}
h3 {
    font-size: 18px;
    padding: 26px 0;
}
.content {
    padding: 0;
}
.accordion i {
    margin-left: 15px;
}
.fa-plus {
    &:before {
        font-size: 12px;
    }
}
.burge-navigation-icon {
    width: 90%;
}
}