* {
    box-sizing:border-box
}
h1 {
    font-family: "ProximaNova-Semibold";
    font-size: 85px;
    line-height: 81px;
    color: $colorText;
}
h2 {
    font-family: "ProximaNova-Semibold";
    font-size: 40px;
    line-height: 49px;
    color: $colorText;
}

.main {
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 100px;
}
.wrapper {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}
.logo-text {
    font-family: "ProximaNova-Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.bodyActive {
    overflow: hidden
}
.button {
    @include btn;
    padding: 22px 44px;
}
h1 {
    font-family: "ProximaNova-Semibold";
    font-size: 84px;
    line-height: 81px;
    color: #0D3155;
    margin-bottom: 45px;
}
.hooksActive {
    display: none !important;
}


.dl-menu.dl-animate-out-1 {
	animation: MenuAnimOut1 0.4s linear forwards;
}

@keyframes MenuAnimOut1 {
	50% {
		transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

.dl-menu.dl-animate-in-1 {
	animation: MenuAnimIn1 0.3s linear forwards;
}

@keyframes MenuAnimIn1 {
	0% {
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}